* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --twitter-blue: #1d9bf0;
  --deep-blue: #074874;
  --like-pink: #f91894;
  --red: #dc3545;
  --white: #f5f5f5;
  --bg-shadow: #ebebeb;
  --black: #0a090c;
  --gray: #647788;
}
body {
  background-color: var(--white);
  overflow: hidden;
}
#logInBody,
#signUpBody {
  background-color: var(--deep-blue);
}
.scrolleable {
  overflow-y: scroll;
  max-height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrolleable::-webkit-scrollbar {
  display: none;
}
